#top{
    font-weight: bolder;
}
#admin{
    color: green;
}
.footer{
    vertical-align:bottom;
    border:0;
    }



 /* Modal */

 .modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal.open {
   display: block;
}

.modal__header,
.modal__footer {
    height: 100px;
}

.modal__content,
.modal__footer {
    position: absolute;
    width: 100%;
}

.modal__content {
    /* bottom: 100px; */
    height: 100%;
    background-color: white;
    background-size: cover;
    /* top: 100px; */
    overflow-y: auto;
}

.modal__footer {
    bottom: 0;
}

  
